In [ ]:
!pip install pandas sqlalchemy psycopg2-binary

In [ ]:
!nvidia-smi

In [ ]:
import sys
sys.executable

In [ ]:
!pip uninstall torch torchvision torchaudio -y

In [ ]:
!pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

In [1]:
import torch

print("CUDA available:", torch.cuda.is_available())
print("CUDA version:", torch.version.cuda)
print("GPU name:", torch.cuda.get_device_name(0))

CUDA available: True
CUDA version: 12.1
GPU name: NVIDIA GeForce RTX 3050 6GB Laptop GPU

#### creating connection to database

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:PASSWORD@localhost:5432/youtube_trending_db"
)

#### importing files from database

In [3]:
df1 = pd.read_sql("SELECT * FROM youtube_trending_au", engine)
df2 = pd.read_sql("SELECT * FROM youtube_trending_ca", engine)
df3 = pd.read_sql("SELECT * FROM youtube_trending_gb", engine)
df4 = pd.read_sql("SELECT * FROM youtube_trending_ie", engine)
df5 = pd.read_sql("SELECT * FROM youtube_trending_in", engine)
df6 = pd.read_sql("SELECT * FROM youtube_trending_nz", engine)
df7 = pd.read_sql("SELECT * FROM youtube_trending_sg", engine)
df8 = pd.read_sql("SELECT * FROM youtube_trending_us", engine)
df9 = pd.read_sql("SELECT * FROM youtube_trending_za", engine)

In [4]:
df5 = pd.read_sql("SELECT * FROM youtube_trending_in", engine)

In [5]:
df5.describe()

,video_published_at,channel_published_at,video_view_count,video_like_count,video_comment_count,channel_view_count,channel_subscriber_count,channel_video_count
count,71153,45315,7.115300e+04,7.115300e+04,7.115300e+04,7.115300e+04,7.115300e+04,71153.000000
mean,2025-06-15 03:08:46.178123008,2014-08-11 16:53:49.332318464,1.721006e+06,5.305279e+04,3.135179e+03,8.344613e+09,1.124459e+07,14420.071114
min,2024-10-05 09:30:06,2005-06-16 12:09:27,3.855000e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000
25%,2025-02-25 10:25:14,2012-02-02 15:11:49,1.601870e+05,2.663000e+03,6.400000e+01,1.150871e+08,5.380000e+05,269.000000
50%,2025-07-04 12:58:48,2015-08-19 13:05:02,4.317670e+05,9.559000e+03,3.640000e+02,6.423140e+08,2.150000e+06,913.000000
75%,2025-10-06 10:36:13,2017-09-10 18:22:11,1.237437e+06,3.778200e+04,1.596000e+03,3.479606e+09,9.310000e+06,3391.000000
max,2026-01-05 17:54:37,2019-10-08 06:04:47,1.461346e+08,8.128232e+06,3.692689e+06,3.259206e+11,4.150000e+08,605562.000000
std,NaN,NaN,5.023016e+06,1.907011e+05,3.118820e+04,2.792752e+10,2.954040e+07,39953.556593

In [10]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71153 entries, 0 to 71152
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   video_id                         71153 non-null  object
 1   video_published_at               71153 non-null  datetime64[ns]
 2   video_trending_date              71153 non-null  datetime64[ns]
 3   channel_id                       71153 non-null  object
 4   channel_title                    71153 non-null  object
 5   channel_description              65052 non-null  object
 6   channel_custom_url               70574 non-null  object
 7   channel_published_at             45315 non-null  datetime64[ns]
 8   channel_country                  63023 non-null  object
 9   video_title                      71153 non-null  object
 10  video_description                69301 non-null  object
 11  video_default_thumbnail          71153 non-null  object
 12  video_category_id                71147 non-null  object
 13  video_tags                       60089 non-null  object
 14  video_duration                   71153 non-null  object
 15  video_dimension                  71153 non-null  object
 16  video_definition                 71153 non-null  object
 17  video_licensed_content           71153 non-null  bool
 18  video_view_count                 71153 non-null  int64
 19  video_like_count                 71153 non-null  int64
 20  video_comment_count              71153 non-null  int64
 21  channel_view_count               71153 non-null  int64
 22  channel_subscriber_count         71153 non-null  int64
 23  channel_have_hidden_subscribers  71153 non-null  bool
 24  channel_video_count              71153 non-null  int64
 25  channel_localized_title          71153 non-null  object
 26  channel_localized_description    65052 non-null  object
 27  video_trending_country           71153 non-null  object
dtypes: bool(2), datetime64[ns](3), int64(6), object(17)
memory usage: 14.3+ MB